$font-family: "Montserrat", sans-serif;

.CardDetailsContainer {
  padding: 5% 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: $font-family;

  .CardImage {
    max-width: 300px;
    border-radius: 8px;
    margin: 20px;
  }

  .CardName {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .CardInfo {
    font-size: 1rem;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
  }

  .CardStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    .StrongText {
      margin-right: 15px;
    }
  }

  .AttackList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;

    .AttackItem {
      border-radius: 12px;
      background-color: #ccc;
      padding: 10px;
      margin: 10px 0;
      cursor: pointer;

      &:hover {
        background-color: #e8e8e8;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 5%;

    .CardImage {
      margin: 20px 0;
    }

    .CardInfo {
      flex-direction: column;
      align-items: center;
    }

    .CardStats {
      align-items: center;
    }

    .CardData {
      width: 100%;
    }
  }
}

.BackButtonContainer {
  padding: 0 20%;

  @media (max-width: 768px) {
    padding: 0 5%;
  }
}

.CardData {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
