.CardContainer {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.CardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.CardTitle {
  margin: 10px 0;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.CardInfo {
  margin: 5px 0;
  font-size: 14px;
}
